{% extends 'admin/change_form.html' %}
{% load static %}

{% block extrahead %}
    {{ block.super }}
    <script src="{% static 'admin/js/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'admin/js/vendor/jquery/jquery.init.js' %}"></script>
    <script src="{% static 'admin/js/admin/related-widget-wrapper.js' %}"></script>
    <script src="{% static 'admin/js/jquery.init.js' %}"></script>
    <script>
        django.jQuery(document).ready(function() {
            initMap();
        });
    </script>
{% endblock %}
